# Database Configuration
DB_USER=
DB_PASSWORD=
DB_NAME=
METABASE_DB_NAME=

# VPS Configuration (IP Public)
# Jika run di laptop internal pakai localhost
VPS_IP=

# MinIO Configuration
MINIO_USER=
MINIO_PASSWORD=

# Resource Management (Agar VPS tidak down)
METABASE_JAVA_OPTS=-Xmx1g -Xms512m